/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

a {
  text-decoration: none;
}
a:hover {
  color: #36b4ce;
}

input{
  border: none;
}


input:focus {

}
